{%extends 'base.html'%}
{%load static%}

{%block 'titulo'%}MARCELO{%endblock%}

{%block 'conteudo'%}
    <header class="header">
        <a href="{%url 'index'%}">
            <h1 class="h1">
                MARCEL<img id="amoboraAnimada" src="{%static 'imagens/aboboraanimada.gif'%}">
            </h1>
        </a>
        <ul>
            <li>
                <a href="https://www.instagram.com/marcell0.o/" target="_blank" rel="external">
                    <img class="imagensContato" src="{%static 'imagens/insta_icone.png'%}">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/marcelo.jovi.7/" target="_blank" rel="external">
                    <img class="imagensContato" src="{%static 'imagens/facebook_icone.png'%}">
                </a>
            </li>
            <li>
                <a href="https://github.com/marcelo-py" target="_blank" rel="external">
                    <img class="imagensContato" src="{%static 'imagens/github_icone.png'%}">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/marcelo-araujo-2026841b4/" target="_blank" rel="external">
                    <img class="imagensContato" src="{%static 'imagens/linkedin_icone.png'%}">
                </a>
            </li>
        </ul>
    </header>
    <div id="main">
        <section id="sobre">
            <div>
                <h2>Sobre Mim</h2>
                <p>
                    {%if sobremim.mostrar%}
                    <!--Conteudo dinamico vindo do banco-->
                        {{sobremim.sobre}}
                    {%else%}
                    <!--conteudo estatico-->
                        Me chamo Marcelo tenho 22 anos, de São Luís-MA. No 3º período de Redes de Computadores no IFMA comecei a estudar programação no final de 2020 com o Guanabara(Curso em vídeo) apenas o básico, logo após passei mais 5 meses estudando POO e aplicando no Python Logo após estudei algumas libs nativas como: Tkinter, os, sys etc; e então comecei a estudar libs externas como Pygame, Scrapy, PyMySQL e Django(onde me aprofundo até hoje) e ao mesmo tempo estudo e pratico bastante HTML e CSS
                    {%endif%}
                </p>
            </div>
            <div id="tec">
                <h2>Domino as Tecnologias</h2>
                <div id="tecdominadas">
                    <img src="{%static 'imagens/tecfrontend.png'%}">
                    <img src="{%static 'imagens/pythonlogo.png'%}">
                </div>
            </div>
            <div>
                <h2>Principais Projetos</h2>
                {%if sobremim.mostrar%}
                <!--Conteudo dinamico vindo do banco-->
                    {{sobremim.projetos}}
                {%else%}
                <!--conteudo estatico-->
                    <div class="projetosGB">
                        <a href="https://github.com/marcelo-py/holyeditais" target="_blank" rel="external">
                            <img src="{%static 'imagens/projetos/holyeditais.png'%}" >
                        </a>
                        <a href="https://github.com/marcelo-py/livraria-com-django" target="_blank" rel="external">
                            <img src="{%static 'imagens/projetos/livraria-com-django.png'%}"></a>
                        <a href="https://github.com/marcelo-py/MeuPortfolio" target="_blank" rel="external">
                            <img src="{%static 'imagens/projetos/MeuPortfolio.png'%}"></a>
                        <a href="https://github.com/marcelo-py/MeusProjetosPython" target="_blank" rel="external">
                            <img src="{%static 'imagens/projetos/MeusProjetosPython.png'%}">
                        </a>
                    </div>
                {%endif%}
            </div>
        </section>
    </div>
    <div class="fraseScraping">
        <p>
            {%include 'parciais/_messages.html'%}
        </p>
    </div>
    
    <div class="videoMenssagensContainer">
        <div class="videos">
            <h3>Sugestões de Músicas</h3>
            <iframe class="iframe" src="{{aleatorio.link_video}}" name="vdosugestao"></iframe>
            <form action="{%url 'index'%}" method="POST">
                {%csrf_token%}
                <label for="link">Link</label>
                <input type="text" id="link" name="linkvideo" maxlength="100" placeholder="Insira um Link" required>
                <label for="usuario">Visitante</label>
                <input type="text" id="usuario" name="usuariovideo" maxlength="15" value="Anônimo" required>
                <div class="g-recaptcha" data-sitekey="6LchRs0fAAAAAPy5JtqA3pZaxr2QGYfZ5QByTo7y"></div>
                <button type="submit">ENVIAR</button>
            </form>
            <div id="usuariosquesugeriram">
                <h3>Visitantes que Sugeriram</h3>
                <ul>
                    {%for video in videos%}
                        <li>
                            <a href="{{video.link_video}}" target="vdosugestao">{{video.usuario_video}}</a>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="menssagens">
            <h3>Mensagens</h3>
            <div class="msgarea">
                <ul>
                    {%for menssagem in menssagens%}
                        {%if menssagem.mostrar%}
                            <li>
                                <strong>{{menssagem.usuario}}: </strong>
                                {{menssagem.menssagem}}
                                <span>{{menssagem.data|date:'d/m/Y'}}</span>
                            </li>
                        {%endif%}
                    {%endfor%}
                </ul>
            </div>
            <form action="{%url 'index'%}" method="POST">
                {%csrf_token%}
                <label for="menssagem">Mensagem</label>
                <textarea name="menssagem" id="menssagem" placeholder="Insira um Texto" required></textarea>
                <label for="usuariomsg">Visitante</label>
                <input type="text" id="usuariomsg" name="usuario" value="Anônimo" maxlength="15" required>
                <button type="submit">ENVIAR</button>
                <div class="g-recaptcha" data-sitekey="6LchRs0fAAAAAPy5JtqA3pZaxr2QGYfZ5QByTo7y"></div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; MARCELO {{ano}}</p>
    </footer>
{%endblock%}