*{
    padding: 0;
    margin: 0;
    font: 14pt 'Courier New', Courier, monospace black;
}

body{
    background-color: #202020;
}

.header{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header > a{
    text-decoration: none;
    display: block;
    margin-right: 35px;
}
#amoboraAnimada{
    width: 23px;
    height: 23px;
    border-radius: 20px;
    border: 2px solid #cdd4d5;
    position: relative;
    top: 3px;
}

.imagensContato{
    height: 30px;
    width: 30px;
    background: #ffffff7f;
    border-radius: 7px;
}
.header ul{
    display: flex;
    justify-content: center;
}
.header ul li{
    list-style: none;
    margin: 0 5px;
    list-style: none;
}
.header ul a{
    padding: 5px;
    display: block;
}
.header ul a:hover{
    background-color: #c7c7c7b1;
    border-radius: 5px;
}
#main{
    padding: 10px;
    margin: 0 auto;
    border-bottom: 3px dashed #9a7e7e71;
    width: 60%;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#tec{
    padding: 70px 0;
    text-align: center;
}

#tecdominadas img{
    max-height: 120px;
    max-width: 100%;
}

#main h2{
    text-align: center;
    margin-top: 5px;
    color: #D9A700;
    text-shadow: 0 1px 2px #000000;
    flex: 1 1 100%;
}

#sobre div p{
    color: #755300;
    font-size: 20px;
    text-align: justify;
    border-radius: 5px;
    padding: 10px;
    text-indent: 15px;
}

.fraseScraping p #detalhe{
    display: none;
    color: #ff0134;
}
.fraseScraping p:hover #detalhe{
    display: block;
}

.fraseScraping{
    color: #f3f3f3;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    cursor:default;
    text-decoration: underline;
}

.videoMenssagensContainer{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.videoMenssagensContainer .videos{
    justify-content: center;
    flex: 0 1 450px;
}
.videos form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
.videos #link{
    flex: 1 1 370px;
}
.videos #usuario{
    flex: 1 1 290px;
}
.videos .iframe{
    width: 99%;
    height: 250px;
    border: 2px solid #c99a00;
}
#usuariosquesugeriram a:focus{
    color: #ff0134;
}

.videoMenssagensContainer .menssagens{
    width: 350px;
    margin: 10px 0;
}

.videoMenssagensContainer .menssagens .msgarea{
    height: 500px;
    overflow-y: auto;
    border: 1px solid #edb600;
}

.videoMenssagensContainer h3{
    color: #D9A700;
    text-align: center;
}

.videoMenssagensContainer input{
    height: 25px;
    font-size: 17px;
    background: none;
    border: 1px solid #edb600b4;
    color: #f3f3f3;
    margin: 3px auto;
}
.videoMenssagensContainer label{
    font-size: 17px;
    font-weight: bold;
    color: #b68509;
}
.videoMenssagensContainer button{
    background: #936900;
    padding: 5px;
    border-color: #D9A700;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}

.menssagens li{
    color: #ffffff;
    list-style: none;
    border: 1px solid #ffffff71;
    padding: 5px;
    margin: 5px;
    word-wrap: break-word;
}
.menssagens li span{
    display: block;
    color: #ffffffb4;
    font-size: 10px;
    margin-top: 3px;
}
.menssagens form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.menssagens textarea{
    width: 100%;
    height: 40px;
    font-size: 17px;
    background: none;
    border: 1px solid #b18802;
    color: #f3f3f3;
}
.menssagens input{
    width: 55%;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #d3d3d338;
}
.footer p{
    color: #f3f3f3;
}

.videos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px;
    overflow-y: scroll;
    border: 1px solid #ffffff28;
}
.videos li{
    list-style: none;
    flex: 1 1 50px;
    border: 1px solid #ffffffb5;
    margin: 5px;
}
.videos a{
    color: #4aab00;
    display: block;
    font-size: 17px;
    padding: 5px;
    text-align: center;
}

#usuariosquesugeriram{
    margin-top: 5px;
    border-top: 1px solid #B2BEBF;
}

.alert-dager{
    color: rgb(255, 0, 0);
}
.alert-info{
    color: #0bd500;
}
.alert-success{
    color: #002fff;
}
.g-recaptcha{
    margin: 0 auto 5px auto;
}

@media (max-width: 819px){
    .videos{
        margin-bottom: 10px;
    }
    .menssagens{
        border-top: 2px solid #d0ccbf;
    }
    #main{
        width: 95%;
    }
}

@media (max-width: 450px){
    #main{
        padding: 0;
    }
    .videoMenssagensContainer .menssagens{
        width: 100%;
    }
    
}
@media (max-width: 402px){
    .header ul{
        margin: 0 auto;
    }
}